---
name: PR Flow

on:
  pull_request:
    branches:
      - main
    paths:
      - 'main.go'
      - 'go.mod'
      - 'go.sum'
      - '.goreleaser.yml'
      - 'cmd/**'

jobs:
  lint:
    uses: ./.github/workflows/job-lint.yml
  test:
    uses: ./.github/workflows/job-test.yml
  nix-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Try to update nix flake
        run: ./.github/scripts/update-flake-version pr-${{ github.event.pull_request.number }}
      - name: Print changes
        run: git diff
