---
name: Lint Job

on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: ./go.mod
          cache: false
      - name: Install gofumpt
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: mvdan/gofumpt
          tag: v0.9.2
          cache: enable
          extension-matching: nah
          rename-to: gofumpt
          chmod: 0700
      - name: Check code formatting
        run: |
          set -euo pipefail
          gofumpt -l $( \
              git diff-tree -r --no-commit-id --name-only --diff-filter=ACMRT \
                "origin/$GITHUB_BASE_REF..origin/$GITHUB_HEAD_REF" \
              | grep '\.go$' \
            ) \
            | tee /dev/stderr \
            | test $(wc -l) -eq 0
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
